h1 {
  text-align: center;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

.img1 {
  height: 200px;
  margin-bottom: 10px;
}

.img2 {
  float:left;
  width: 40%;
  height: 250px;
  margin-top: 5px;
  margin-top: 5px;
  height:400px;
}

h3 {
  font-weight: bolder;
  text-align: center;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.bg-purple {
  background-color: #e6e6fa
}

.bg-green {
  background-color: #cbffc0
}

.column {
  height: 250px;
  margin: 2px;
  width: 32.5%;
  margin-bottom: 10px;
}

.hd-purple {
  background-color: #3c4262;
  border: 3px solid white;
  padding: 5px;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 5px;
  color: white
}

.hd-green {
  background-color: #66cdaa;
  border: 3px solid white;
  padding: 5px;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 5px;
  color: white
}

.projectcolum {
  margin-bottom: 5px;
}

.column p {
  text-align: justify;
  font-size: 18px;
}

.highlight {
  background-color: yellow;
}
